<html>
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table align="center" border="1" dir="ltr" width="900px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;"><span style="font-size: 18px;">Прогнозное значение<br />
			&laquo;Соотношение матрица-наполнитель&raquo;</span></span></span></th>
		</tr>
	</tbody>
</table>
</head>
 <body><table align="center" border="1" dir="ltr" width="900px">
    <form action="" method="post">
		<table align="center" >
			<tr>
				<td>		
<table align="center" border="1" bordercolor="#ffffff" width="600px">
	<tbody>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr1">Плотность, кг/м3</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input type="float" name="parametr1" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr2">Модуль упругости, ГПа</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr2" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr3">Количество отвердителя, м.%</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr3" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr4">Содержание эпоксидных групп,%_2</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr4" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr5">Температура вспышки, С_2</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><input name="parametr5" type="float" style="width:100%;"/></span></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr6">Поверхностная плотность, г/м2</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr6" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr7">Модуль упругости при растяжении, ГПа</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr7" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr8">Прочность при растяжении, МПа</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr8" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr9">Потребление смолы, г/м2</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr9" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr10">Угол нашивки, град</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr10" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr11">Шаг нашивки</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr11" type="float" style="width:100%;"/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="parametr12">Плотность нашивки</label></span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="parametr12" type="float" style="width:100%;"/></span></span></td>
		</tr>
	</tbody>
</table>
</td>
<td>
	<table id="left" align="center" border="1" width="300px">
		<tbody>
			<tr>
				<th align="center">
					<span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label>Результат прогноза:</label></span></span><p>
					<span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;">{% if message %} </span></span><p><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;">{{ message }}</span></span></p>
				<span style="font-family: Times New Roman,Times,serif;"> <span style="color: #ffffff;">{% endif %} </span></span>
				</th>
			</tr>
		</tbody>
	</table>
</td>
</tr>
</table>
<table align="center" border="1" width="900px">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-size: 24px;"><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 24px;"><span style="font-family: Times New Roman,Times,serif;"><p>
            <input type="submit" value="Расчитать">
            </p></span></span></span></span></td>
		</tr>
	</tbody>
</table>
</form>
</div>
<style type="text/css">body {
    background-repeat: no-repeat;
    background-color: #4461d6; 
   }
</style>
